<h1>{{apod.title}}</h1>
<p>{{name}}</p>

{{#if apod.is_image}}
    <img src="{{apod.url}}">
{{else}}
    <P>Today's picture is a video or another media type.
    <a href="{{apod.url}}">Please click here to view</a></P>
{{/if}}

<P>{{apod.credit}}</P>
<p>{{apod.explanation}}</p>
<p>This is NASA Astronomy Picture of the Day for {{apod.date}}.</p>

<p><a href="{{apod.nasa_url}}">See this image at NASA's website</a></p>